<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juilyoon.learnwaterloo">

    <!-- University of Waterloo crest taken from http://bbcr.uwaterloo.ca/bbcrgroupmeeting.html -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SectionActivity"
            android:label="Section #"
            android:parentActivityName=".NavigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationActivity"/>
        </activity>
    </application>

</manifest>